absl-py==0.15.0
astor==0.8.0
backports-abc==0.5
backports.functools-lru-cache==1.6.4
backports.weakref==1.0.post1
certifi==2020.6.20
cloudpickle==1.2.2
cycler==0.10.0
cytoolz==0.10.1
dask==1.2.2
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.18.2
futures==3.3.0
gast==0.2.2
google-pasta==0.2.0
grpcio==1.27.2
h5py==2.10.0
imageio==2.6.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
linecache2==1.0.0
Markdown==3.1.1
matplotlib==2.2.3
menpo==0.8.1
menpofit==0.5.0
mock==2.0.0
networkx==2.2
numpy==1.16.6
olefile==0.47
opt-einsum==2.3.2
pathlib==1.0
pbr==5.5.1
Pillow==6.2.1
protobuf==3.11.2
pyparsing==2.4.7
python-dateutil==2.9.0.post0
pytz==2024.1
PyWavelets==1.0.3
scikit-image==0.14.2
scikit-learn==0.20.4
scipy==1.2.1
singledispatch==3.7.0
six==1.16.0
subprocess32==3.5.4
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
toolz==0.10.0
tornado==5.1.1
traceback2==1.4.0
unittest2==1.1.0
webencodings==0.5.1
Werkzeug==0.16.1
wrapt==1.11.2
